

//== Sizes
$font-size-16: 16px;
$font-size-18: 18px;

//== Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

//== Line Heights
$line-height-16: 16px;
$line-height-18: 18px;

//== Letter Spacing
$letter-spacing-0: 0%;

/* ==================================================
=                      COLORES                     =
================================================== */

//== Modo Normal
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rosa-INE: #D5007F;
$color-rosa-INE-1: #FBE6F2;
$color-morado-INE: #351C45;



